<% var msg = require('../../locale/current/common') %>

<div id="learn">

  <h1><%= msg.wantToLearn() %></h1>
  <img id="learn-to-code" src="<%= BlocklyApps.assetUrl('media/promo.png') %>">
  <a href="<%= location.host %>"><%= msg.watchVideo() %></a>
  <a href="<%= location.host %>"><%= msg.tryHOC() %></a>
  <a href="<%= location.host %>"><%= msg.signup() %></a>

</div>
